<form class="form-horizontal form-complex">
<div class="control-group">
	<label class="control-label" for="activate_machine_scan_policy_name">Policy Name  </label>
    <div class="controls">
<select name="action.activate_machine_scan.param.policy_name" id="activate_machine_scan_policy_name">
        <option value="1000006">Maiware Scan</option>
        <option value="1000010">test juniper</option>
        <option value="1000011">test vmware</option>
        <option value="1000004">Windows Malware Scan</option>
        <option value="1000003">Basic Network Scan</option>
        <option value="1000009">Test Citrix</option>
        <option value="1000002">Web Application Tests</option>
        <option value="1000012">Test PaloAlto Template</option>
        <option value="1000015">cisco_compliance</option>
        <option value="1000001">MV Scan Policy</option>
        <option value="1000008">Basic Discovery Scan</option>
        <option value="1000014">Full Scan</option>
        <option value="1000005">Compliance Test SC Host</option>
</select>
                <span class="help-block"> 
                    Enter policy name to start the machine scan.
                </span>
    </div>
</div>
<div class="control-group">
	<label class="control-label" for="activate_machine_scan_name_of_scan">Name of Scan  </label>
    <div class="controls">
	<input type="text" name="action.activate_machine_scan.param.name_of_scan" id="activate_machine_scan_name_of_scan"/>
                <span class="help-block"> 
                    Enter name of the scan.
                </span>
    </div>
</div>
<div class="control-group">
	<label class="control-label" for="activate_machine_scan_ip">IP  </label>
    <div class="controls">
	<input type="text" name="action.activate_machine_scan.param.ip" id="activate_machine_scan_ip"/>
                <span class="help-block"> 
                    Supports ip and token both. e.g: '21.5.2.1' or $result.dest_ip$
                </span>
    </div>
</div>
</form>